<%= form_with(model: letter_writer, local: true) do |form| %>
  <% if letter_writer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(letter_writer.errors.count, "error") %> prohibited this letter_writer from being saved:</h2>

      <ul>
      <% letter_writer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
