<p id="notice"><%= notice %></p>

<h1>Letter Writers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @letter_writers.each do |letter_writer| %>
      <tr>
        <td><%= letter_writer.name %></td>
        <td><%= letter_writer.email %></td>
        <td><%= link_to 'Show', letter_writer %></td>
        <td><%= link_to 'Edit', edit_letter_writer_path(letter_writer) %></td>
        <td><%= link_to 'Destroy', letter_writer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Letter Writer', new_letter_writer_path %>
